In [1]:
list1 = list(map(int, input("Enter numbers for first list: ").split()))
list2 = list(map(int, input("Enter numbers for second list: ").split()))
merged_list = list1 + list2
merged_list.sort()
print("Sorted merged list:", merged_list)

Enter numbers for first list (space separated): 12
Enter numbers for second list (space separated): 23
Sorted merged list: [12, 23]

In [2]:
list1 = list(map(int, input("Enter numbers for first list (space separated): ").split()))
list2 = list(map(int, input("Enter numbers for second list (space separated): ").split()))
merged_list = list1 + list2
print("Smallest element:", min(merged_list))
print("Largest element:", max(merged_list))

Enter numbers for first list (space separated): 23
Enter numbers for second list (space separated): 55
Smallest element: 23
Largest element: 55

In [3]:
birthdays = {
    "Albert Einstein": "03/14/1879",
    "Benjamin Franklin": "01/17/1706",
    "Ada Lovelace": "12/10/1815"
}
print("Welcome to the birthday dictionary. We know the birthdays of:")
for name in birthdays:
    print(name)
name = input("Who's birthday do you want to look up? ")
if name in birthdays:
    print(f"{name}'s birthday is {birthdays[name]}.")
else:
    print("Sorry, we don't have that birthday.")

Welcome to the birthday dictionary. We know the birthdays of:
Albert Einstein
Benjamin Franklin
Ada Lovelace
Who's birthday do you want to look up? ada
Sorry, we don't have that birthday.

In [4]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
keys = ["name", "salary"]
new_dict = {key: sample_dict[key] for key in keys}
print(new_dict)

{'name': 'Kelly', 'salary': 8000}